.whats{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    text-decoration: none;

    h3{

        font-size: smaller;
    }

}


.contacto{

    h2{
        text-align: center;
        font-size: medium;
    }

    div{
        


        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
            text-decoration: none;
            img{
                width: 35px;
                height: 35px;
                margin-right: 5px;
            }
        
        }
        span{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            text-wrap: wrap;
            font-size: smaller;
            text-decoration: none;
            a{
                text-decoration: none;
                color: black;
            }

        }
        h3{

            img{
                width: 35px;
                height: 35px;
                margin-right: 5px;

            }
        }

    }


}


.lugar{
    grid-area: lugar;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: medium;
        text-align: center;
    }
    iframe{
        margin: 20px;


    }


    h3{
        margin: 4px;
        font-size: small;
        img{
            margin: 1px;
            height: 20px;
            width: 15px;


        }


    }




}


.logofooter{
    a{

        img{
            width: 200px;
            height: 100px;
            border-radius: 50%;
        }


    }
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90% auto ;
    background-color: rgba(226, 225, 225, 0.685);
    background-size: auto;
    grid-template-areas: 
    "log medio social lugar"
    "firma firma ayuda ayuda" ;
    position: relative;
}

.log{
    grid-area: log;
}

.medio{
    grid-area: medio;

}

.social{
    grid-area: social;
    justify-self: center;

    a{
        img{
            margin: 10px;
            width: 35px;
            height: 35px;
        
        }
    }



}


.firma{
        
    grid-area: firma;
    background-color: rgb(14, 161, 51);
    text-align: center;
    position: relative;    
    font-size: small;
    display: flex;
    justify-content: center;
    h3{
        position: absolute;
        font-size: smaller;
        margin: 5px; 

    }


}


.ayuda{
    grid-area: ayuda;
    background-color: rgb(14, 161, 51);
    text-align: center;
    background-size: cover;
   
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    align-items: center;
    height: 50px;

    h2{
        font-size: smaller;
    }

    h3{
        font-size: smaller;
        padding: 5px;  
        margin: 1px ;
    }




}
