
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/*!----NO ME TOMA LA FUENTE----*/
.whatsapp-icon {
    position: fixed;
    bottom: 10px; // Ajusta la distancia desde la parte inferior de la ventana del navegador
    right: 10px; // Ajusta la distancia desde el lado derecho de la ventana del navegador
    z-index: 1000; // Asegura que el icono esté por encima del contenido
    padding: 10px;
        a{
            img{
                width: 90px;
                height: auto;
            }
        }
}
